<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- https://www.bootstrapcdn.com/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <title>Assignment 3</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>

    <div id="app">
        Message <input  placeholder="" v-model="message">How many<input placeholder="" v-model="message">
        <button v-on:click="How many(repeat)">Do it!</button>
        <br>
        {{message}}

    </div>

    <script src="js/index.js"></script>
</body>

</html>